body {
    height: 100vh;
    display: flex;
    text-align: center;
    vertical-align: middle;
    font-size: 90vh;
    font-family: "Comic Sans MS", sans-serif, monospace;
    color: red;
    background-color: blue;
}